<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>
<html dir="rtl" lang="he">
<head runat="server">
    <title>עולם סדרות הנוער</title>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css" />
    <meta charset="utf-8" />
    <style>
     
    </style>
    <asp:ContentPlaceHolder id="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <header>
        <div class="header-container">
            <img src="images/logo.png" alt="Logo" class="main-logo" />

            <nav class="main_nav"> 
                <a href="Default.aspx">דף בית</a>
                <a href="אליפים.aspx">אליפים</a>
                <a href="האי.aspx">האי</a>
                <a href="החממה.aspx">החממה</a>
                <a href="השמיניה.aspx">השמיניה</a>
                <a href="גאליס.aspx" id="Galis" runat ="server">גאליס</a>
                <a href="חצויה.aspx">חצויה</a>
                <a href="הילדים מגבעת נפוליאון.aspx">הילדים מגבעת נפוליאון</a>
            </nav>

            <div class="info-section">
                <div class="date-box">
                    <asp:Label ID="DateLabel" runat="server"></asp:Label>
                    <asp:Image ID="DayImage" runat="server" width="25" />
                </div>
                <a class="login_logout" ID="LoginLogout" runat="server"></a>
            </div>
        </div>
    </header>

    <div class="page-wrapper">
        <section class="top-aside">
            <div class="aside-card">
                <asp:ContentPlaceHolder id="ContentPlaceHolderAside" runat="server">
                    <h3 style="color: #AEC6CF; margin: 0; font-size: 1rem;">✨ עולם הנוסטלגיה</h3>
                </asp:ContentPlaceHolder>
            </div>
        </section>

        <main>
            <asp:ContentPlaceHolder id="ContentPlaceHolderMain" runat="server">
            </asp:ContentPlaceHolder>
        </main>
    </div>

    <footer>
        <p>&copy; <%= DateTime.Now.Year %> אתר סדרות הנוער</p>
    </footer>

    <asp:ContentPlaceHolder id="ContentPlaceHolderScript" runat="server"></asp:ContentPlaceHolder>
</body>
</html>