html {
    direction: rtl;
}

header, .center, footer {
    min-height: 80px;
    border: 1px ;
}

header {
    background-color: white;
    margin-bottom: 5px;
}

.header_top {
    min-height: 20px;
    display: flex;
}



.main_nav {
    background-color: deeppink;
    min-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

    .main_nav a {
        text-decoration: none;
        font-size: 24px;
        color: darkblue;
        margin: 10px;
    }



.center {
    background-color: pink;
    margin-bottom: 5px;
    display: flex;
}

main, aside {
    min-height: 400px;
    background-color: pink;
}

main {
    background-color: pink;
    flex: 4;
    color: white;
    padding: 3px 8px;
}


aside {
    background-color: pink;
    flex: 1;
    padding: 3px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

    
    aside h3, aside p, aside ul {
        margin: 10px 0;
        color: white; 
    }

footer {
    background-color: lightpink;
    color: white;
}
