html {
    direction: rtl;
}

header, .center, footer {
    min-height: 80px;
    border: 1px ;
}
aside a {
    margin: 10px 0;
    color: white;
}

h2 {
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 15px;
}


ul {
    font-size: 20px; 
    line-height: 1.8; 
    list-style-position: inside; 
}


    ul li::marker {
        font-size: 1.2em;
        color: #AEC6CF;
    }
header {
    background-color: white;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header_top {
    min-height: 20px;
    display: flex;
    justify-content: flex-end;
}


.header_top {
    min-height: 20px;
    display: flex;
 
}
.header_date {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#DateLabel {
    flex: 1;
}

#DayImage {
    flex: 3;
    max-width: 100px;
    height: auto;
}

body {
    border: 5px solid pink !important;
}


.main_nav {
    background-color: peachpuff;
    min-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

    .main_nav a {
        text-decoration: none;
        font-size: 24px;
        color: #AEC6CF;
        margin: 10px;
    }




.center {
    background-color: pink;
    margin-bottom: 5px;
    display: flex;
}

main, aside {
    min-height: 400px;
    background-color: pink;
}

main {
    background-color: pink;
    flex: 4;
    color: white;
    padding: 3px 8px;
}


aside {
    background-color: pink;
    flex: 1;
    padding: 3px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

    
    aside h3, aside p, aside ul {
        margin: 10px 0;
        color: white; 
    }

footer {
    background-color: peachpuff;
    color: white;
}
